.btn-call-action {
    padding: 20px 40px;
    border-radius: 40px;
    background-color: #4b1d1d;
    color: white;
  
    font-size: 20px;
    font-weight: bolder;
  }
  
  .achivement-image {
    filter: brightness(0) invert(1);
    width: 100%;
  }
  
  @media (max-width: 992px) {
    .vh-100 {
      height: 100% !important;
    }
  }
  